@import "variables";
@import "fonts";
@import "mixins";

// import COMPONENTS
@import "components/admonitions";
@import "components/breadcrumb";
@import "components/buttons";
@import "components/cards";
@import "components/initials";
@import "components/loaders";
@import "components/scrollbar";
@import "components/switch";
@import "components/table";
@import "components/validelete";

// base TEXT FOR REM
html, body{
  font-size: $font-size;
}

// reset BOOTSTRAP
.container-fluid, .container, [class*="col-"]{
  padding: 0;
}
.row{
  margin: 0;
}

// text SELECTION
::-moz-selection{
  background: $color-primary;
  color: $color-secondary;
}
::selection{
  background: $color-primary;
  color: $color-secondary;
}

// custom FOCUS
:focus{
  outline: none;
}

/* style TITLES ------------------------ */
h1, h2, h3, h4{
  color: $color-primary;
}
h1{
  font-family: $font-primary_bold;
  @include font-size(20px);
}
h2{
  font-family: $font-primary_medium;
  @include font-size(18px);
}
h3{
  font-family: $font-primary_bold;
  @include font-size(16px);
}
h4{
  font-family: $font-primary_medium;
  @include font-size(15px);
}
p{
  margin: 0;
  @include font-size(12px);
}

/* ajout VARIABLES ------------------------ */
  // variable FLEX CONTAINER
  .flex-container{
    @include flexbox;
    @include justify-content(space-around);
    @include flex-flow(row wrap);
  }
  .flex-container_equal{
    @include flexbox;
    @include justify-content(center);
  }
