@import "variables";
@import "mixins";
@import "fonts";

// base TEXT FOR REM
html, body{
  font-size: $font-size;
}

// reset BOOTSTRAP
.container-fluid, .container, [class*="col-"]{
  padding: 0;
}

// text SELECTION
::-moz-selection{
  background: $color-primary;
  color: $color-secondary;
}
::selection{
  background: $color-primary;
  color: $color-secondary;
}

/* style TITLES ------------------------ */
h1, h2, h3, h4{
  color: $color-primary;
}
h1{
  font-family: $font-primary_bold;
  @include font-size(20px);
}
h2{
  font-family: $font-primary_medium;
  @include font-size(18px);
}
h3{
  font-family: $font-primary_bold;
  @include font-size(16px);
}
h4{
  font-family: $font-primary_medium;
  @include font-size(15px);
}

/* blocs BTN ------------------------ */
  // btn PRIMARY
  .btn-primary{
    @include btn($color-primary, $color-white, $font-primary);
    &:hover{

    }
  }

  // btn SHADOW
  .btn-shadow{
    @include btn(transparent, $color-primary, $font-primary);
    &:hover{
      background-color: rgba($color-primary, .1);
      color: $color-primary;
    }
  }

/* ajout VARIABLES ------------------------ */
  // variable FLEX CONTAINER
  .flex-container{
    @include flexbox;
    @include justify-content(space-around);
    @include flex-flow(row wrap);
  }
  .flex-container_equal{
    @include flexbox;
    @include justify-content(center);
  }

  // variable CARD
  .card{
    @include flexbox;
    @include align-items(center);
  }
