@import "variables";
@import "mixins";
@import "fonts";

// base TEXT FOR REM
html, body{
  font-size: $font-size;
}

// text SELECTION
::-moz-selection{
  background: $color-primary;
  color: $color-secondary;
}
::selection{
  background: $color-primary;
  color: $color-secondary;
}

/* blocs BTN ------------------------ */
  // btn PRIMARY
  .btn-primary{
    @include btn($color-primary, $color-white, $font-primary);
    &:hover{

    }
  }

  // btn SHADOW
  .btn-shadow{
    @include btn(transparent, $color-primary, $font-primary);
    &:hover{
      background-color: rgba($color-primary, .1)
    }
  }

/* ajout VARIABLES ------------------------ */
  // variable FLEX CONTAINER
  .flex-container{
    @include flexbox;
    @include justify-content(space-around);
    @include flex-flow(row wrap);
  }
  .flex-container_equal{
    @include flexbox;
    @include justify-content(center);
  }

  // variable CARD
  .card{
    @include flexbox;
    @include align-items(center);
  }
