/* blocs BTN ------------------------ */
.btn{
  color: $color-primary;
  @include transition(background .8s);
  &:focus{
    outline: none;
    box-shadow: none;
  }
  &:hover{
    @include transition(background .8s);
  }
  &.btn-primary{
    &:hover{
      color: $color-white;
      background-color: $color-dark-primary;
      border-color: #1c202c;
    }
  }
}
  // btn PRIMARY
  .btn-primary{
    @include btn($color-primary, $color-white, $font-primary);
    &:hover{
      color: $color-white;
      background-color: $color-dark-primary;
      border-color: #1c202c;
    }
    &:active,{
      background-color: $color-dark-primary;
      border-color: #1c202c;
    }
    &:focus{
    }
    &:active:focus{
      box-shadow: none;
    }
    // btn PRIMARY SMALL
    &_small{
      height: 27px;
    }
    // btn PRIMARY MEDIUM
    &_medium{
      height: 32px;
    }
    // btn PRIMARY LARGE
    &_large{
      height: 39px;
    }
  }
  .btn-primary:not(:disabled):not(.disabled):active{
    background-color: $color-primary-d10;
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus{
    background-color: $color-primary-d10;
    box-shadow: none;
  }

  // btn SECONDARY
  .btn-secondary{
    @include btn($color-secondary, $color-primary, $font-primary);
    &:hover{
      background-color: $color-secondary;
      color: $color-primary;
    }
    // btn SECONDARY SMALL
    &_small{
      height: 27px;
    }
    // btn SECONDARY MEDIUM
    &_medium{
      height: 32px;
    }
    // btn SECONDARY LARGE
    &_large{
      height: 39px;
    }
  }

  // btn SHADOW
  .btn-shadow{
    @include btn(transparent, $color-primary, $font-primary);
    &:hover{
      background-color: rgba($color-primary, .1);
      color: $color-primary;
    }
  }

  // btn CARRE PICTO
  .base-button-icon{
    margin-left: auto;
    width: 44px;
    height: 44px;
    background: $color-white;
    cursor: pointer;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    .svg-icon{
      fill: #94979A;
      @include transition(all linear .35s);
    }
  }
