/* custom BASE CARD ------------------------ */
.base-card{
  padding: 0;
  max-width: 100%;
  position: relative;
  background-color: $color-white;
  box-shadow: 0 2px 10px 0 rgba($color-black, .07);
  font-weight: normal;
  text-align: left;
  &__header{
    height: 40px;
    background-color: $color-background;
    @include flexbox;
    .base-card__title-container{
      padding: 15px;
      color: $color-primary;
      flex: 1 auto;
      line-height: 1em;
      @include font-size(13px);
    }
  }
  &__content{
    padding: 15px;
  }
}

/* custom CARD ----------------------------- */
.card{
  background: $color-white;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba($color-black,.07);
  &-header{
    color: $color-primary;
    background-color: $color-background;
  }
}

/* custom BASE LINK ------------------------ */
.card-link{
  padding: 15px;
  display: block;
  @include transition(.2s ease all);
  text-decoration: none;
  &:hover{
    background-color: $color-background;
    color: $color-primary;
    cursor: pointer;
  }
  &:after{
    position: absolute;
    top: 42%;
    right: 5px;
    display: inline-block;
    @include transition(.2s ease all);
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
  }
}

/* custom CARD HORINZONTAL ------------------ */
.card-horizontal{
  @include card(0 30px, 0 36px, 327px, 264px, $color-white, 15px, 0 2px 10px 0 rgba(0,0,0,0.1));
  @include flexbox;
  @include align-items(center);
  &_content{
    img{
      height: 92px;
    }
    h2{
      margin: 16px 0 7px 0;
      @include font-size(21px);
      font-family: $font-primary_bold;
      &::first-letter{
        text-transform: capitalize;
      }
    }
    span{
      margin: auto;
      width: 14.6px;
      height: 1.5px;
      display: block;
      background-color: $color-secondary;
    }
    p{
      margin: 22px 0;
      @include font-size(12px);
      line-height: 16px;
    }
    .btn{
      margin: auto;
      width: 128px;
      border: none;
      @include btn($color-primary, $color-white, $font-primary);
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
    }
  }
}

/* custom CARD VERTICAL --------------------- */
.card-vertical{
  position: relative;
  @include card(0 0 30px, 0 33px, 195px, 466px, $color-white, 8px, 0 2px 10px 0 rgba($color-black,.1));
  @include flexbox;
  @include align-items(center);
  &::before{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 6px;
    background-color: $color-secondary;
  }
  &_content{
    width: 100%;
    h3{
      margin: 0 0 22px;
      color: $color-primary;
      a{
        font-family: $font-primary;
      }
    }
    p{
      margin-bottom: 16px;
    }
    .action-button{
      position: relative;
      color: $color-primary;
      font-family: $font-primary_medium;
      @include flexbox;
      @include align-items(center);
      @include transition(all .35s ease);
      &__rectangle{
        width: 25px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 20%;
        background-color: $color-primary;
        @include transition(all .35s ease);
        @include transform(translateY(-50%) scaleX(1));
        @include transform-origin(right);
      }
      &__arrow{
        position: absolute;
        top: 2%;
        left: 23%;
      }
      &:hover{
        text-decoration: none;
        @include transform(translateX(22px));
        .action-button__rectangle{
          @include transform(translateY(-50%) scaleX(0));
        }
      }
    }
  }
}