// custom SUMMARY
.content_summary{
  padding: 0;
  height: calc(100vh - 60px);
  position: fixed;
  background-color: $color-background;
  .wy-menu-vertical{
    width: 100%;
    // custom TITLE SUMMARY
    .caption{
      color: $color-primary;
      @include font-size(13px);
      text-transform: initial;
    }
    // custom LINK SUMMARY
    .toctree-l1{
      background: $color-background;
      a{
        padding: .5rem 2.5rem;
        position: relative;
        color: $color-primary;
        font-family: $font-primary;
        &:hover{
          background-color: $color-secondary;
        }
        &.internal{
          &::before{
            content: "";
            position: absolute;
            background-image: url("/img/bimdata_carret-right.svg");
            width: 17px;
            height: 15px;
            top: 11px;
            left: 22px;
            background-size: 11px;
            background-repeat: no-repeat;
            z-index: 1;
          }
        }
        &.external{
          &::after{
            content: none;
          }
        }
      }
      ul{
        .toctree-l2{
          a{
            margin: .4rem 0;
            padding: 0 3.5rem;
          }
          .toctree-l3{
            a{
              margin: .5rem 0;
              padding: 0 4.25rem;
            }
          }
        }
      }

      &.current{
        a{
          background-color: $color-secondary;
          border: none;
          font-weight: inherit;
          &.internal{
            &::before{
              background-image: url("/img/bimdata_carret-down.svg");
            }
          }
        }
        ul{
          .toctree-l2{
            a{
              position: relative;
              background-color: $color-background;
              &::before{
                content: "";
                position: absolute;
                left: 39px;
                top: 0;
                width: 2px;
                height: 100%;
                background-color: $color-secondary;
                opacity: 0;
              }
              &:hover{
                &::before{
                  opacity: 1;
                }
              }
              &.active{
                &::before{
                  opacity: 1;
                }
              }
            }
            .toctree-l3{
              a{
                &::before{
                  left: 55px;
                }
              }
            }
          }
        }
      }
    }
  }
  li.current{
    background: $color-background;
  }
}
