$bim-switch-size: 10px !default;
$bim-switch-width: 19px !default;
$bim-switch-unchecked-color: $color-white !default;
$bim-switch-checked-color: #394055 !default;
$bim-switch-translation: calc(#{$bim-switch-width} - #{$bim-switch-size});

.switch-component{
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  .switch{
    margin-bottom: 0;
    width: $bim-switch-width;
    height: $bim-switch-size - 2px;
    position: relative;
    display: inline-block;
  }
  input{
    width: 0;
    height: 0;
    opacity: 0;
    &:checked{
      & + .slider{
        background-color: rgba(57, 64, 85, 0.52);
        &:before{
          background-color: $bim-switch-checked-color;
          @include transform(translateX($bim-switch-translation));
        }
      }
    }
  }
  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-text-l30;
    @include transition(.4s);
    &:before{
      width: $bim-switch-size;
      height: $bim-switch-size;
      position: absolute;
      content: "";
      left: 0;
      bottom: -1px;
      background-color: $bim-switch-unchecked-color;
      box-shadow: 0 1px 2px 0 rgba($color-black, .29);
      @include transition(.4s);
    }
    &.round{
      border-radius: 34px;
      &:before{
        border-radius: 50%;
      }
    }
  }
}


// custom SWITCH FOR DARK MODE
.switch-component.dark-mode{
  input{
    &:checked + .slider:before{
      background-color: $color-secondary;
      @include transform(translateX(calc(30px - 10px)));
    }
  }
  .slider.round{
    width: 26px;
    height: 11px;
  }
  .slider:before{
    width: 15px;
    height: 15px;
    bottom: -1.5px;
    left: -4px;
    box-shadow: 0 1px 10px 0 rgba($color-black,.15);
  }
  .tooltip{
    top: 24px;
    font-size: 10px;
    background-color:  $color-primary;
    padding: .2rem;
    height: 19px;
    width: 61px;
    text-align: center;
    color: $color-white;
    border-radius: 3px;
    left: -18px;
    &:hover{
      opacity: 0;
    }
    &::before{
      border-color: transparent transparent $color-primary;
      border-style: solid;
      border-width: 0 0 8px 8px;
      right: 25px;
      position: absolute;
      top: -4px;
      content: "";
      display: inline-block;
      transform: rotate(-135deg);
    }
  }
  .switch{
    &:hover{
      .tooltip{
        opacity: 1;
      }
    }
  }
}