#cards{
  .box{
    @include card(0 30px, 0 36px, 327px, 264px, $color-white, 15px, 0 2px 10px 0 rgba($color-black,.1));
    @include flexbox;
    @include align-items(center);
  }
  .card{
    &-header{
      h2{
        margin: 0;
      }
    }
  }

  // custom CARD HORIZONTAL
  .flex-container_equal{
    margin-bottom: 2rem;
  }

  // custom CARD VERTICAL
  .flex-container{
    @include justify-content(space-between);
    .card-vertical{
      max-width: 446px;
      &_content{
        padding: 0 33px;
        .action-button{
          display: inline-block;
          &__rectangle{
            top: 58%;
            left: 122%;
          }
          &__arrow{
            top: 0%;
            left: 160%;
          }
        }
      }
    }
  }
}
