// bloc LOADER
#loader{
  .loaders{
    margin-top: 1rem;
    @include flexbox;
    &:last-child{
      .example{
        padding: 0;
      }
    }
  }
  .loader-content{
    padding: 0;
    width: 100%;
    .loader-layout{
      margin: 0;
    }
    .loader-blobs{
      svg{
        max-height: inherit;
      }
    }
  }
  .loader-code{
    border-right: 1px solid rgba($color-white,.4);
  }
}
