// custom ADMONITION WARNING, NOTE, IMPORTANT, ALERT
.admonition{
  margin: 24px 0;
  padding: 12px;
  box-shadow: 0 2px 10px 0 rgba($color-black,.1);
  .admonition-title{
    margin: -12px -12px 12px -12px;
    padding: 6px 12px;
    color: $color-primary;
    display: block;
    @include font-size(13px);
    &::before{
      content: "!";
      height: 23px;
      width: 23px;
      display: inline-block;
      border-radius: 50%;
      color: $color-white;
      line-height: 1.5;
      margin-right: 10px;
      text-align: center;
    }
  }
  .last{
    @include font-size(13px);
  }
  blockquote{
    margin: 0 0 0 24px;
    line-height: 24px;
  }
  &.important{
    .admonition-title{
      background: #EAFFF1;
      &::before{
        background-color: #4DBD74;
      }
    }
  }
  &.warning{
    .admonition-title{
      background: #FFF9E7;
      &::before{
        background-color: $color-secondary;
      }
    }
  }
  &.note{
    background: $color-white;
    .admonition-title{
      background: #EFF7FF;
      &::before{
        background-color: $color-primary;
      }
    }
  }
}
