/* custom BASE CARD ------------------------ */
.card{
  background: $color-white;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba($color-black,.07);
  &-header{
  color: $color-primary;
  background-color: $color-background;
  }
}

/* custom BASE LINK ------------------------ */
.card-link{
  padding: 15px;
  display: block;
  @include transition(.2s ease all);
  text-decoration: none;
  &:hover{
    background-color: $color-background;
    color: $color-primary;
    cursor: pointer;
  }
  &:after{
    position: absolute;
    top: 42%;
    right: 5px;
    display: inline-block;
    @include transition(.2s ease all);
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}
