table{
  width: 100%;
  border: none;
  caption{
    @include font-size(10px);
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-weight: bold;
  }
  thead{
    border-bottom: 8px solid $color-white;
    .row-odd{
      th{
        padding: .9rem;
        border: none;
        color: $color-white;
        font-weight: normal;
        @include font-size(12px);
        &:nth-child(odd){
          background-color: $color-primary;
        }
        &:nth-child(even){
          background-color: #48516B;
        }
      }
    }
  }
  tbody{
    tr{
      border-bottom: 5px solid $color-white;
      td{
        padding: .5rem .9rem;
        border: none;
        @include font-size(12px);
        &:nth-child(odd){
          background-color: $color-background;
        }
        &:nth-child(even){
          background-color: $gray2;
        }
      }
    }
  }
}
