@import "fonts";

/* variables COLORS ------------------------------------ */
$color-primary:     rgba(47,55,74,1);
$color-secondary:   rgba(249,199,44,1);
$color-white:       rgba(255,255,255,1);
$color-black:       rgba(0,0,0,1);
$color-background:  rgba(247,247,247,1);
$color-text:        rgba(148,151,154,1);

$color-dark-primary: rgba(30,33,44,1);
$color-dark-background: rgba(17,19,28,1);
$color-admonition-title: rgba(45, 48, 58, 1);

/* variables LIGHTEN COLORS ---------------------------- */
  // light PRIMARY
  $color-primary-l10:    lighten($color-primary, 10%);
  $color-primary-l20:    lighten($color-primary, 20%);
  $color-primary-l30:    lighten($color-primary, 30%);

  // light SECONDARY
  $color-secondary-l10:  lighten($color-secondary, 10%);
  $color-secondary-l20:  lighten($color-secondary, 20%);
  $color-secondary-l30:  lighten($color-secondary, 30%);

  // light BLACK
  $color-black-l10:      lighten($color-black, 10%);
  $color-black-l20:      lighten($color-black, 20%);
  $color-black-l30:      lighten($color-black, 30%);

  // light TEXT
  $color-text-l10:       lighten($color-text, 10%);
  $color-text-l20:       lighten($color-text, 20%);
  $color-text-l30:       lighten($color-text, 30%);

/* variables DARKEN COLORS ----------------------------- */
  // dark PRIMARY
  $color-primary-d10:    darken($color-primary, 10%);
  $color-primary-d20:    darken($color-primary, 20%);

  // dark SECONDARY
  $color-secondary-d10:  darken($color-secondary, 10%);
  $color-secondary-d20:  darken($color-secondary, 20%);

  // dark WHITE
  $color-white-d10:      darken($color-white, 10%);
  $color-white-d20:      darken($color-white, 20%);
  $color-white-d30:      darken($color-white, 30%);

  // dark BACKGROUND
  $color-background-d1:  darken($color-background, 1%);
  $color-background-d10: darken($color-background, 10%);
  $color-background-d20: darken($color-background, 20%);
  $color-background-d30: darken($color-background, 30%);

  // dark TEXT
  $color-text-d10:       darken($color-text, 10%);
  $color-text-d20:       darken($color-text, 20%);
  $color-text-d30:       darken($color-text, 30%);

/* variable FONTS -------------------------------------- */
$font-primary:         'robotoregular', sans-serif;
$font-primary_italic:  'robotoitalic', sans-serif;
$font-primary_medium:  'robotomedium', sans-serif;
$font-primary_bold:    'robotobold', sans-serif;

$font-size: 14px;

/*  BIM DATA VARIABLES -------------------------------- */
$gray3: #F2F2F2;
$bim-cyan: #00B5A6;
$bim-valid: #00AF50;
$bim-error: #FF3D1E;

$bim-disabled: $color-text-l30;

/* BOOTSTRAP VARIABLES ------------------------------- */
$body-bg: $color-background;
$grid-gutter-width: 15px;

// border
$border-color: #F3F3F3;
$border-radius: 3px;
$border-radius-lg: 3px;
$border-radius-sm: 3px;

// variables SHADOW
$bd-box-shadow: 0 2px 10px 0 rgba($color-black,.07);

//card
$card-border-width: 0;

//form
$input-padding-y: 0;
$input-padding-x: 0;
$form-group-margin-bottom: $grid-gutter-width;

$input-btn-padding-y: .430rem;
$input-btn-focus-width: 0;
$input-btn-focus-color: $color-primary;
$input-btn-focus-box-shadow: none;

//divider
$dropdown-divider-bg: $border-color;

// Breadcrumb
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: 8px;
$breadcrumb-margin-bottom: 17px;

$breadcrumb-bg: $color-white;
$breadcrumb-divider-color: $color-text;
$breadcrumb-active-color: $color-text;

$breadcrumb-border-radius: 10px;
