@import "fonts";

/* variables COULEURS ------------------------ */
$color-primary:     rgba(47,55,74,1);
$color-secondary:   rgba(249,199,44,1);
$color-white:       rgba(255,255,255,1);
$color-black:       rgba(0,0,0,1);
$color-background:  rgba(247,247,247,1);
$color-text:        rgba(148,151,154,1);

/* variable FONTS ------------------------ */
$font-primary:         'robotoregular', sans-serif;
$font-primary_italic:  'robotoitalic', sans-serif;
$font-primary_medium:  'robotomedium', sans-serif;
$font-primary_bold:    'robotobold', sans-serif;

$font-size: 14px;

/*  BIM DATA VARIABLES ------------------------ */
$gray1: #EFEFEF;
$gray2: #E2E2E2;
$gray3: #F2F2F2;
$gray4: #979797;
$text-color2: $color-primary;
$bim-cyan: #00B5A6;
$bim-valid: #00AF50;
$bim-error: #FF3D1E;

$bim-disabled: $gray2;

// ----- BOOTSTRAP VARIABLES -----
$body-bg: $color-background;
$body-color: $color-text;
$primary: $color-primary;
$grid-gutter-width: 15px;

// border
$border-color: #F3F3F3;
$border-radius: 3px;
$border-radius-lg: 3px;
$border-radius-sm: 3px;

// shadow
$bd-box-shadow: 0 2px 10px 0 rgba($color-black,.07);
$box-shadow-sm: $bd-box-shadow;

//card
$card-border-width: 0;

//form
$input-padding-y: 0;
$input-padding-x: 0;
$form-group-margin-bottom: $grid-gutter-width;

$input-btn-padding-y: .430rem;
$input-btn-focus-width: 0;
$input-btn-focus-color: $color-primary;
$input-btn-focus-box-shadow: none;

//divider
$dropdown-divider-bg: $border-color;

// Breadcrumb
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: 8px;
$breadcrumb-margin-bottom: 17px;

$breadcrumb-bg: $color-white;
$breadcrumb-divider-color: $gray4;
$breadcrumb-active-color: $color-text;

$breadcrumb-border-radius: 10px;
